@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes scrollText {
  from { 
    transform: translateX(100%); 
  }
  to { 
    transform: translateX(-100%);
  }
}

.animate-scrollText {
  display: inline-block; /* Make sure the text is inline */
  white-space: nowrap; /* Prevent text from wrapping */
  animation: scrollText 60s linear infinite;
}
